body {
  background-color: #fdfdfd;
  font-family: 'Poppins', Arial, sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
